 <%- model_class = Bus -%>
 <h1>All Registered Buses</h1>
   <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:source) %></th>
        <th><%= model_class.human_attribute_name(:destination) %></th>
        <th><%= model_class.human_attribute_name(:departure_time) %></th>
        <th><%= model_class.human_attribute_name(:arrival_time) %></th>
        <th><%= model_class.human_attribute_name(:Available_Seats) %></th>
        <th><%= model_class.human_attribute_name(:status) %></th>
        <th><%= model_class.human_attribute_name(:owner) %></th>

      </tr>
    </thead>
    <tbody>
    <%@buses.each do |bus|%>
            <tr>
              <td><%= bus.name %></td>
              <td><%= bus.source %></td>
              <td><%= bus.destination %></td>
              <td><%=formate_time(bus.departure_time)%></td>
              <td><%= formate_time(bus.arrival_time) %></td>
              <td><%= available_seats(bus,@date) %></td>
              <td><%= bus.status %></td>
               <td><%= bus.bus_owner.name %></td>
               <td><%=link_to "show_reservations",admin_bus_reservations_path(bus),class:"btn-xs btn-primary"%>
            <%#if right_bus_owner?(bus)%>
              <!-- <td><%#= link_to t('.edit', :default => t("helpers.links.edit")),edit_bus_path(bus),:class => 'btn btn-default btn-xs btn-warning'%></td> -->
            <%#end%>
            </tr>

      <%end%>
    </tbody>
  </table>
