<div class="container">
 <ul class="nav nav-tabs">
   <li class="active"><%=link_to "customer", user_session_path,class:"btn btn-secondary"%></li>
   <li><%=link_to "Bus Owner", bus_owner_session_path,class:"btn btn-secondary"%></li>
 </ul>
</div>


  <h2>Customer LogIn</h2>


<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">

    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">

    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">

      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
