<%- model_class = BusOwner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:license_number) %></th>
      <th><%= model_class.human_attribute_name(:gst_number) %></th>
      <th><%= model_class.human_attribute_name(:experience) %></th>
       <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.Action', :default => t("helpers.Action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bus_owners.each do |owner| %>
      <tr>

        <td><%=link_to owner.name,admin_bus_owner_path(owner) %></td>
        <td><%= owner.email %></td>
        <td><%= owner.license_number %></td>
        <td><%= owner.gst_number%></td>
        <td><%= experience_in_years(owner)%></td>
         <td><%= owner.status%></td>

        <td>

         <% action_on_owner(owner).each do |button| %>
          <%= button.html_safe %>
         <% end %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>

