<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BusReservation</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path  %></li>
            <%if current_bus_owner%>
              <li><%= link_to "Add Bus", new_bus_owners_bus_path %></li>
              <li><%= link_to "All Reservation",  bus_owners_buses_reservations_path %></li>
            <%end%>
            <%if admin?%>
                <li><%= link_to "BusOwners",  admin_bus_owners_path %></li>
                <li><%= link_to "All Buses",  admin_buses_path  %></li>
                <li><%= link_to "All Reservations",admin_reservations_path %></li>
            <%end%>
            <%if current_bus_owner || current_user%>
                <li><%= link_to "My Reservations",filtered_reservations_path("my_reservation")%></li>
            <%end%>



          </ul>
           <ul class="nav navbar-nav" style="float: right">
            <% if  current_user %>
                <li><%=link_to "#{current_user.name}", profile_users_path%>
                <li><%=link_to "Log out", destroy_user_session_path,method: :delete%>
            <%elsif current_bus_owner%>
                <li><%=link_to "#{current_bus_owner.name}",  profile_bus_owners_path%>
                <li><%=link_to "Log out",  destroy_bus_owner_session_path,method: :delete%>
            <%else%>
                <li><%=link_to "Sign Up", new_user_registration_path%>
                <li><%=link_to "Sign in" , new_user_session_path%>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
