<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BusReservation</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path  %></li>
            <%if current_bus_owner%>
              <li><%= link_to "Add Bus", new_bus_path %></li>
            <%end%>
            <%if admin?%>
                <li><%= link_to "BusOwners", bus_owners_path %></li>
            <%end%>



          </ul>
           <ul class="nav navbar-nav" style="float: right">
            <% if  current_user %>
                <li><%=link_to "#{current_user.name}", user_path(current_user)%>
                <li><%= link_to "Account-Setting",edit_user_path(current_user)%>
                <li><%=link_to "Log out", destroy_bus_owner_session_path,method: :delete%>
            <%elsif current_bus_owner%>
                <li><%=link_to "#{current_bus_owner.name}", bus_owner_path(current_bus_owner)%>
                <li><%= link_to "Account-Setting",edit_bus_owner_path(current_bus_owner)%>
                <li><%=link_to "Log out", destroy_user_session_path,method: :delete%>
            <%else%>
                <li><%=link_to "Sign Up", new_user_registration_path%>
                <li><%=link_to "Sign in" , new_user_session_path%>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
