<h1 style="text-align: center">Welcome</h1>
<hr>
<div class="home">
 <h4>Find Bus :- </h4>
 <%= form_tag search_bus_path(@buses), :method => 'get',:html => { :class => "form-horizontal"} do %>
    <div class="form-group search">
        <%= label_tag "","From",class:"control-label col-lg-2"  %>
        <div class="col-lg-10">
         <%= text_field_tag :source, params[:source], placeholder:"From",class:"form-control" %>
        </div>
    </div>
     <div class="form-group search">
     <%= label_tag "","To",class:"control-label col-lg-2"  %>
     <div class="col-lg-10">
      <%= text_field_tag :destination, params[:destination], placeholder:"To", class:"form-control"%>
      </div>
    </div>
    <div class="form-group search">
      <%= label_tag "","Date",class:"control-label col-lg-2"  %>
       <div class="col-lg-10">
        <%= date_field_tag :date, params[:date],:min=> Date.today,class:"form-control" %>
       </div>
    </div>
    <div class="form-group search search-buttons">
        <div class="col-lg-10">
          <%= submit_tag  "search",:class => 'btn btn-primary' %>
           <%=link_to "Today's Buses" ,buses_path,class:"btn btn-default "%>
        </div>
    </div>
 <% end %>
 <hr>
</div>

<%- model_class = Bus -%>
<%if !@buses.blank?%>
<h3>Results</h3>
   <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:source) %></th>
        <th><%= model_class.human_attribute_name(:destination) %></th>
        <th><%= model_class.human_attribute_name(:departure_time) %></th>
        <th><%= model_class.human_attribute_name(:arrival_time) %></th>
        <th><%= model_class.human_attribute_name(:Available_Seats) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
  <%end%>
      <%=render partial:"buses/bus", collection: @buses,date:@date %>
    </tbody>
  </table>


