
<%= form_for [@bus,@reservation], :html => { :class => "form-horizontal reservation" } do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group form-date">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :date, :class => 'form-control',min: Date.today%>
    </div>
    <%=f.error_span(:date) %>
  </div>
  <div class="form-group">
    <%= f.label :Total_seats, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :total_seats, :class => 'form-control' %>
    </div>
  <%=f.error_span(:total_seats) %>
  </div>

  <%#=render "seats",f:f,date: date%>

  <div class="form-group">
    <%= f.label :Seats, :class => 'control-label col-lg-2 show_seat' %>
    <% f.hidden_field :bus_id, value: @bus.id %>
    <div class="col-lg-10 bus-reservation-seats" id="sk" style="width:400px;padding-right: 15px">
    </div>
  </div>



  <%= hidden_field_tag(:bus_id, @bus.id) %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>




