  <h3>Available buses :- <%=format_date(Date.current)%></h3>
 <hr>

   <%- model_class = Bus -%>
   <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:source) %></th>
        <th><%= model_class.human_attribute_name(:destination) %></th>
        <th><%= model_class.human_attribute_name(:departure_time) %></th>
        <th><%= model_class.human_attribute_name(:arrival_time) %></th>
        <th><%= model_class.human_attribute_name(:Available_Seats) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%=render partial:"bus", collection: @buses %>
    </tbody>
  </table>
